<div class= "landing-content">
  <div class="row headline-row">
    <div class="col-sm-12 headline-col text-center">
      <h1>Developer.</h1>
    </div>
  </div>
  <div class="row link-row">
    <div class="col-xs-12">
      <div class="btn-toolbar text-center">
        <%= link_to "Resume",'resume', class: 'btn landing-link' %>
        <%= mail_to 'gregdiamond29@gmail.com', "Contact", class: 'btn landing-link' %>
      </div>
    </div>
  </div>
</div>
