<div class="row">
  <div class="col-sm-12 text-center">
    <%= link_to "Click here for all of the code", "https://github.com/diamond29/gregdiamondio", class: "btn code-btn" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
    This site is an open source ruby on rails application. Anyone can run a copy of this site themselves. It's not backed with an extensive cms, so most of it is coded with my name and relevant links, but there are some cms elements for the blogging functionality.
    </p>
    <p>
    I'm a big fan of open source software and Github. I love being able to look at the source for the code I'm running or using. That's why I chose to make my site totally open source. I also love ruby, which is why this site is written using ruby on rails.
    </p>
  </div>
</div>
