<div class="row">
  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">
    <div class="row-content">
      <h1>A bit about me</h1>
      <p>
      Since I was young, I've found myself drawn to computers. I started off with video games, but nowadays, I look for challenges in coding clean and extensible solutions to problems. I also enjoy compelling movies, new restaurants and good beers.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">
    <div class="row-content">
      <h1>Blog Links/Summaries Here</h1>
      <p>Work in progress.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">
    <div class="row-content">
      <h1>Project Links/Summaries Here</h1>
      <p>Work in progress.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">
    <div class="row-content">
      <%= render 'tweets' %>
    </div>
  </div>
</div>
