<div class="container">
  <div class="row headline-row">
    <div class="col-md-12 headline-col">
      <h1>Developer.</h1>
    </div>
  </div>
  <div class="row link-row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <%= link_to "Enter", articles_path, class: 'btn landing-link' %>
    </div>
  </div>
</div>
