<div class="container">
  <div class="row headline_row">
    <div class="col-md-12 headline_text ">
      <h1>Hi</h1>
    </div>
  </div>
  <div class="row">
    <%= link_to "Enter", articles_path %>
  </div>
</div>
