<div class="container-fluid">
  <div class="row headline-row">
    <div class="col-sm-12 headline-col">
      <h1>Developer.</h1>
    </div>
  </div>
  <div class="row link-row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <%= link_to "Enter", articles_path, class: 'btn landing-link' %>
    </div>
  </div>
</div>
