<div class="node">
  <a href="<%= project.github_address %>">
    <div class="node-photo">
      <div class="node-photo-content">
        <span>GO TO GITHUB</span>
      </div>
    </div>
  </a>
  <h3><%= project.title %></h3>
</div>
