<h1>Projects</h1>

<% slice_size = 2 %>

<% @projects.each_slice(2) do |proj_slice| %>
  <div class="row">

    <% if proj_slice.size == slice_size %>
      <% proj_slice.each do |project| %>
        <div class="col-md-6 text-center">
          <%= render 'node', project: project %>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <%= render 'node', project: proj_slice[0] %>
      </div>
      <div class="col-md-3"></div>
    <% end %>
  </div>

<% end %>
