@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'Ostrich Sans Medium';
  src: font-url('OstrichSans-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Open Sans Regular';
  src: font-url('OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Open Sans Light';
  src: font-url('OpenSans-Light.ttf') format("truetype");
}

.main-body {
  background-color: white;
}

body {
  background-color: #FFF;
  height:100%;
  font-family: 'Open Sans Regular';
}

.footer {
  background-color: $gray-dark;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;

  .footer-container {
    padding-bottom: 1em;
    .row {
      a {
        color: #C8C8C8;
        transition: all .5s ease;
        &:hover {
          color: white;
          background-color: transparent;
          transition: all 0s ease;
        }
      }
    }
    .copyright-row {
      padding-top: 1em;
      color: #C8C8C8;
      font-size: .8em;
    }
  }
}

.social-icon {
  font-size: 2em;
}

html {
  position: relative;
  min-height: 100%;
}

#logo {
  &:link, &:visited, &:hover {
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Alfa Slab One';
    font-weight: 300;
    background-color: transparent;
  }
}

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -animation-delay:1s;
}

.greg-navbar {
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image-path('skyline.jpg'));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(75%);
  margin-bottom:0;

  span {
    padding: 0;
  }

  .greg-navbar-links {
    li {
      a {
        @extend .greg-link;
      }
    }
  }

  .navbar-toggle {
    border-style: solid;
    border-color: $gray-lighter;
    &:hover, &:active, &:focus {
      background: rgba(255,255,255,0);
    }

    .icon-bar {
      background-color: $gray-lighter;
    }
  }

  .header-content {
    padding-bottom:1em;
    a {
      color: white;
      font-size: 2em;
      padding: .25em;
      position: relative;
      transition: all .5s ease;
      &:hover {
        background: 0;
        padding-top: .5em;
        padding-bottom: 0em;
        transition: all .5s ease;
      }
    }
  }
}

.greg-link {
  font-family: "Open Sans Regular";
  font-size: 1.5em;
  text-transform: uppercase;
  color:white;
  transition: all .5s ease;
  background: rgba(255,255,255,0);

  &:hover, &:focus {
    color:gray;
    transition: all 0s ease;
    text-decoration:none;
    background: rgba(255,255,255,0);
  }
}

.greg-btn {
  @extend .greg-link;
  padding: 0 .5em 0 .5em;
  border: 1px white solid;
  border-radius: 0;
  color:white;
  background: rgba(0,0,0,0.1);
  vertical-align:middle;
  padding: 0em .5em 0em .5em;
  &:hover {
    background: white;
    color: rgba(0,0,0,.8);
    text-decoration: none;
  }

}

h1, h2, h3, a, p, span {
  font-family: 'Open Sans Regular';
  margin: 0;
}

h1,h2,h3 {
  padding:1em;
}

p {
  font-size: 1em;
  line-height: 2em;
}

.header-title {
  vertical-align:middle;
  color: white;
  font-size:4em;
  margin: 0;
  padding-left:0;
  padding-right:0;
  padding-bottom:1em;

}

@import "*";

