@import "bootstrap-sprockets";
@import "bootstrap";

@import "*";

$lighter-color: #80a4eb;
$main-color: #335FB4;
$darker-color: #042b78;

.greg-navbar {
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image-path('skyline.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  li {
    a {
      font-size: 1.3em;
      color: white;
      &:hover, &:focus{
        background-color: $lighter-color;
      }
    }
  }

  .navbar-toggle {
    border-style: solid;
    border-color: $gray-lighter;
    .icon-bar {
      background-color: $gray-lighter;
    }
  }
}

.main-body {
  background-color: white;
}

body {
  background-color: #FFF;
  height:100%
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
}

html {
  position: relative;
  min-height: 100%;
}

#logo {
  &:link, &:visited, &:hover {
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Alfa Slab One';
    font-weight: 300;
    background-color: transparent;
  }
}
@font-face {
  font-family: 'Ostrich Sans Regular';
  src: font-url('ostrich-regular.ttf') format("truetype");
}
