@import "bootstrap-sprockets";
@import "bootstrap";

@import "*";

$lighter-color: #80a4eb;
$main-color: #335FB4;
$darker-color: #042b78;

.greg-navbar {
  background-color: $main-color;
  li {
    a {
      font-size: 1.3em;
      color: white;
      &:hover, &:focus{
        background-color: $lighter-color;
      }
    }
  }

  .navbar-toggle {
    border-style: solid;
    border-color: $gray-lighter;
    .icon-bar {
      background-color: $gray-lighter;
    }
  }
}

.main-body {
  background-color: white;
}

body {
  background-color: #e0e0e0;
  height:100%
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
}

html {
  position: relative;
  min-height: 100%;
}

/* header */

#logo {
  &:link, &:visited, &:hover {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    padding: 7px;
    background-color: transparent;
  }
}
@font-face {
  font-family: 'Ostrich Sans Regular';
  src: url('ostrich-regular.ttf') format("truetype");
}

