// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.articles {
  .articleholder {
    $article-padding: 3em;

    &:first-of-type {
      padding-top: 1em;
    }
    &:last-of-type {
      padding-bottom: 1em;
      border-bottom: 0;
    }

    border-bottom: 1px solid #CFCFCF;

    padding-top:    2em;
    padding-bottom: 1.75em;

    h1, h2, h3, h4, h5, h6 {
      padding: 0px;
      margin: 0px;
    }

    .date {
      font-size: 1em;
      text-transform: uppercase;
    }

    .title {
      $title-padding: .5em;
      padding-bottom: $title-padding;
      padding-top: $title-padding;
    }
  }

  #input-title, #input-body {
    $input-padding: .25em;
    margin: 0px;
    font-size: 2em;
    padding-bottom: $input-padding;
    padding-top: $input-padding;
    font-family: inherit;
    font-weight: inherit;
  }

  #input-title {
    padding-top: 1em;
  }

  #input-title-text {
    width: 25em;
  }

  #input-body-text {
    width: 100%;
    height: 8em;
  }

  #submit-button {
    margin-bottom: 2em;
    margin-top: 1em;
  }
}
