// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects {
  .project-row {
    padding-bottom:20px;
  }

  .node {
    box-shadow: 2px 2px 2px gray;
    .node-inner {
      border-color: #CFCFCF;
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
    }
  }
}

