// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static_pages {
}

.landing {
  background-image: linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(image-path('skyline.jpg'));
  background-repeat: no-repeat;
  background-size: cover;

  .container{
    height:100%;
    .headline_row{
      height:100%;
      .headline_text{
        height:100%;
        display:inline-block;
        vertical-align: middle;
        text-align: center;
        float:none;
      }
    }
  }
}
