// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.greg-navbar {
  .static_pages-header {
    .landing-content {
      padding-top:3em;
      padding-bottom:3em;
    }

    .link-row{
      padding: 1em;
      .btn-toolbar {
        text-align:center;
        .landing-link {
          @extend .header-button;
          padding: 0 .5em 0 .5em;
          border: 1px white solid;
          border-radius: 0;
          color:white;
          background: rgba(0,0,0,0.1);
          vertical-align:middle;
          padding: 0em .5em 0em .5em;
          &:hover {
            background: white;
            color: rgba(0,0,0,.8);
            text-decoration: none;
          }
        }
      }
    }
    .headline-row{
      .headline-col{
        h1 {
          vertical-align:middle;
          color: white;
          font-size:8em;
          margin: 0;
          word-wrap: break-word;
        }
      }
    }
  }
}

.static_pages {
  .code-btn {
    color: black;
    font-size:3em;
    word-wrap: break-word;
    white-space: normal;
    text-decoration:underline;

    &:hover {
      text-decoration:underline;
      background:transparent;
    }
  }
}
