<footer>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <small class="navbar-text navbar-left">
        Created with Ruby on Rails
      </small>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About This Site", 'about' %></li>
        <li><%= link_to "Contact",         '#' %></li>
      </ul>
    </div>
  </nav>
</footer>
