<footer class="footer">
  <small>
		Created with Ruby on Rails
	</small>
  <nav>
    <ul>
      <li><%= link_to "About This Site", 'about' %></li>
      <li><%= link_to "Contact",         '#' %></li>
    </ul>
  </nav>
</footer>
