<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
		<p id="logo">Greg Diamond</p>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Github", 'https://github.com/diamond29' %></li>
			</ul>
    </nav>
  </div>
</header>
